<div class="jumbotron">
  <h2>Turn off the lights!</h2>
  <button id="on" class="btn btn-primary" type="button">Light On</button>
  <button id="off" class="btn btn-primary" type="button">Light Off</button>
</div>
